# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs and temporary files
*.log
*.tmp
*.temp
*.swp
*.swo
*.bak

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Test outputs
test/__pycache__/
test/*.ipynb_checkpoints/

# Executables
*.exe
*.dll
*.so
*.dylib

# archive
archived_files/

# testfiles
test/